:root{
    --mainBlue: #2a2a72;
    --lightBlue: #009ffd;
    --mainWhite: #f3f3f3;
    --mainDark: #232528;
    --mainYellow: #ffa400;
}

body{
    font-family: 'Oswald', sans-serif !important;
    background: #DAF7A6  !important;
    color: #900C3F !important;
}

.text-title{
    font-family: 'Roboto',cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-teal{
    color: teal;
}

.text-bright{
    color: #483D8B;
}

/*@import "~bootstrap/scss/bootstrap";*/

.thebuli{
    border-collapse:separate;
    width:400px;
    border-spacing:10px;
}

